# Reto 1: Creando listas y acceder a ellas

a) definiendo una lista

In [1]:
mi_informacion = ["Katherine","Kate","cheetos","no cheetos","nada"]

In [2]:
print(f'''
¡Hola! Mi nombre es {mi_informacion[0]}. Todos me dicen {mi_informacion[1]}.
Mi comida favorita es {mi_informacion[2]}. Y la comida que más detesto es {mi_informacion[3]}.
Mi trabajo ideal sería {mi_informacion[4]}.
¡Gracias, chau!
''')

¡Hola! Mi nombre es Katherine. Todos me dicen Kate.
Mi comida favorita es cheetos. Y la comida que más detesto es no cheetos.
Mi trabajo ideal sería nada.
¡Gracias, chau!

b) Lista construida con variables

In [4]:
info_0 = "humanos"
info_1 = "destruir por completo la biodiversidad por satisfacer sus deseos y necesidades"
info_2 = "se daran comitieron un grave error"
info_3 = "repararlo, pero será tarde"
info_4 = "trato de hacer mi parte en cuidar el planeta e inspirar a otros que se propongan lo mismo"

info_faltante = [info_0, info_1, info_2, info_3, info_4]

In [5]:
print(f'''
Algún día los {info_faltante[0]} lograrán su objetivo. Su objetivo de {info_faltante[1]}.
Ese día, los humanos {info_faltante[2]} y tendrán que {info_faltante[3]}.
Por esa razón yo todos los días {info_faltante[4]}.
''')

Algún día los humanos lograrán su objetivo. Su objetivo de destruir por completo la biodiversidad por satisfacer sus deseos y necesidades.
Ese día, los humanos se daran comitieron un grave error y tendrán que repararlo, pero será tarde.
Por esa razón yo todos los días trato de hacer mi parte en cuidar el planeta e inspirar a otros que se propongan lo mismo.

c) Practicando el operador de indexación

In [7]:
respuestas = [0.58, 9, 2, 3, 37, 5, 75, 4]

In [21]:
print(f'''
1. Los humanos tenemos {respuestas[-6]} ojos en la cara.
2. Un humano adulto tiene {respuestas[-4]} dientes dentro de su boca.
3. Un feto tarda {respuestas[-7]} meses en gestarse antes de nacer.
4. La expectativa de vida en México es de alrededor de {respuestas[-2]} años.
5. Las horas de sueño al día recomendadas para adultos jóvenes son entre {respuestas[-1]} y {respuestas[-3]}.
6. El récord actual de velocidad en 100 metros (09/05/2020) fue establecido por Usain Bolt y es de {respuestas[-8]}
''')

1. Los humanos tenemos 2 ojos en la cara.
2. Un humano adulto tiene 37 dientes dentro de su boca.
3. Un feto tarda 9 meses en gestarse antes de nacer.
4. La expectativa de vida en México es de alrededor de 75 años.
5. Las horas de sueño al día recomendadas para adultos jóvenes son entre 4 y 5.
6. El récord actual de velocidad en 100 metros (09/05/2020) fue establecido por Usain Bolt y es de 0.58

# Reto 2: Modificando listas

a) Modificar para eliminar diferencias

In [33]:
lista_1 = [3.4, 0.7, 99.9, 5.41, 6.23, 7.9]
lista_2 = [3.4, 63.4, 0.7, 6.46, 99.9, 2.2, 5.41]

#modificaciones:
lista_2.pop(1)
lista_2.pop(2)
lista_2.pop(3)
lista_2.append(6.23)
lista_2.append(7.9)

In [35]:
if lista_1 == lista_2:
    print("Tú y yo somos uno mismo")

Tú y yo somos uno mismo

b) Corrigiendo fragmentos

In [48]:
#Apenas él le amalaba el noema, a ella se le agolpaba el clémiso y caían en hidromurias, en salvajes ambonios, en sustalos exasperantes.
#Cada vez que él procuraba relamar las incopelusas, 

fragmento_fragmentado = ['Apenas', 'él', 'le', 'amalaba', 'hidrolizado', 'el', 'noema,',
                         'a', 'ella', 'se', 'le', 'agolpaba', 'el', 'clémiso', 'súbito',
                         'y', 'caían', 'en', 'fermales', 'hidromurias,', 'en', 'salvajes', 'ambonios,',
                         'en', 'sustalos', 'distales', 'exasperantes.',
                         'Cada', 'vez', 'que', 'él', 'procuraba', 'relamar', 'las', 'incopelusas,']

fragmento_fragmentado.pop(4)
fragmento_fragmentado.pop(13)
fragmento_fragmentado.pop(16)
fragmento_fragmentado.pop(22)

'distales'

In [49]:
tu_nombre = "Katherine Arzate"

print(f'==Colaboración póstuma de Córtazar y {tu_nombre}==\n')
print(f'{" ".join(fragmento_fragmentado)}')

==Colaboración póstuma de Córtazar y Katherine Arzate==

Apenas él le amalaba el noema, a ella se le agolpaba el clémiso y caían en hidromurias, en salvajes ambonios, en sustalos exasperantes. Cada vez que él procuraba relamar las incopelusas,

# Reto 3: Creando y accesando diccionarios

In [66]:
ventas_mensuales = {
    "fecha_de_corte": "01/05/2020",
    "unidad": "Aragón",
    "ventas_pasteleria": 100,
    "ventas_panaderia": 50,
    "ganancias_pasteleria": 300,
    "ganancias_panaderia": 100,
    "gastos_mensuales_totales": 220,
    "analista": "Katherine Arzate"
}

In [67]:
ventas_totales_de_insumos = ventas_mensuales["ventas_pasteleria"] + ventas_mensuales["ventas_panaderia"]
ganancias_totales = ventas_mensuales["ganancias_pasteleria"] + ventas_mensuales["ganancias_panaderia"]
ganancias_netas = ganancias_totales - ventas_mensuales["gastos_mensuales_totales"]

print(f'==Resumen de ventas mensuales de la unidad {ventas_mensuales["unidad"]}==\n')
print(f'Fecha de corte: {ventas_mensuales["fecha_de_corte"]}\n')
print(f'  - Ventas totales de insumos: {ventas_totales_de_insumos}')
print(f'  - Ganancias totales: {ganancias_totales}')
print(f'  - Ganancias netas: {ganancias_netas}')
print(f'\n')
print(f'(Información recabada por: {ventas_mensuales["analista"]})')

==Resumen de ventas mensuales de la unidad Aragón==

Fecha de corte: 01/05/2020

  - Ventas totales de insumos: 150
  - Ganancias totales: 400
  - Ganancias netas: 180


(Información recabada por: Katherine Arzate)

# Reto 4: Modificando diccionarios

In [70]:
registro = {
    "id": "23f-58j-kju7-54re",
    "nombre": "Alberto",
    "apellido_materno": "Gutierrez",
    "apellido_paterno": "Sosa",
    "profesion": "Contador",
    "ultimo_nivel_de_estudios": "Maestría",
    "lugar_de_estudios": "UAM",
    "numero_de_cuenta": "25367890",
    "nip_de_cajero": "142"
}

registro["nombre"] = "Katherine" 
registro["apellido_materno"] = "Serrano"
registro["apellido_paterno"] = "Arzate"
registro["profesion"] = "estudiante"
registro["ultimo_nivel_de_estudios"] = "Licenciatura"
registro["lugar_de_estudios"] = "Instito Tecnologico de Morelia"
registro["fecha_de_nacimiento"] = "14 de julio de 2020"
registro["lugar_de_nacimiento"] = "Houston, Texas"

In [71]:
print(f'Registro con id: {registro["id"]}\n')
print(f'---------------------------------------\n')
print(f'{("Nombre"):25} | {registro["nombre"]:25}')
print(f'{("Apellido Paterno"):25} | {registro["apellido_paterno"]:25}')
print(f'{("Apellido Materno"):25} | {registro["apellido_materno"]:25}')
print(f'{("Profesión"):25} | {registro["profesion"]:25}')
print(f'{("Último nivel de estudios"):25} | {registro["ultimo_nivel_de_estudios"]:25}')
print(f'{("Lugar de estudios"):25} | {registro["lugar_de_estudios"]:25}')
print(f'{("Fecha de nacimiento"):25} | {registro["fecha_de_nacimiento"]:25}')
print(f'{("Lugar de nacimiento"):25} | {registro["lugar_de_nacimiento"]:25}')

Registro con id: 23f-58j-kju7-54re

---------------------------------------

Nombre                    | Katherine
Apellido Materno          | Serrano
Apellido Paterno          | Arzate
Profesión                 | estudiante
Último nivel de estudios  | Licenciatura
Lugar de estudios         | Instito Tecnologico de Morelia
Fecha de nacimiento       | 14 de julio de 2020
Lugar de nacimiento       | Houston, Texas

# Reto 5: Funciones

a) Función numero_es_par

In [78]:
#checar si el número es par, regresar True si el número es par y regresar False si el número no es par.

def numero_es_par(numero):
    if (numero % 2) == 1:
      return False
    else: 
      return True

In [79]:
def test_funcion(funcion_a_probar, num_de_errores, contador, parametros=[], resultado_esperado=None):
    resultado_test = funcion_a_probar(*parametros)
    print(f'Test {contador}: Resultado esperado es `{resultado_esperado}`, obtuvimos `{resultado_test}`')
    if resultado_test != resultado_esperado:
        num_de_errores += 1
        
    return num_de_errores

In [80]:
print("== Tests numero_es_par==\n")

contador_de_tests = 0
errores = 0

contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[2], resultado_esperado=True)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[3], resultado_esperado=False)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[0], resultado_esperado=True)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[127], resultado_esperado=False)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[-88], resultado_esperado=True)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[-1349], resultado_esperado=False)

print(f'\nErrores encontrados: {errores}')

== Tests numero_es_par==

Test 1: Resultado esperado es `True`, obtuvimos `True`
Test 2: Resultado esperado es `False`, obtuvimos `False`
Test 3: Resultado esperado es `True`, obtuvimos `True`
Test 4: Resultado esperado es `False`, obtuvimos `False`
Test 5: Resultado esperado es `True`, obtuvimos `True`
Test 6: Resultado esperado es `False`, obtuvimos `False`

Errores encontrados: 0

b) Reutilización de código

In [81]:
resultado_1 = 34 * 100 / 100
print(f'34 es el {resultado_1}% del número 100\n')

resultado_2 = 57 * 100 / 127
print(f'57 es el {resultado_2}% del número 127\n')

resultado_3 = 12 * 100 / 228
print(f'12 es el {resultado_3}% del número 228\n')

resultado_4 = 87 * 100 / 90
print(f'87 es el {resultado_4}% del número 90\n')

resultado_5 = 1 * 100 / 999
print(f'1 es el {resultado_5}% del número 999\n')

resultado_6 = 66 * 100 / 66
print(f'66 es el {resultado_6}% del número 66\n')

34 es el 34.0% del número 100

57 es el 44.881889763779526% del número 127

12 es el 5.2631578947368425% del número 228

87 es el 96.66666666666667% del número 90

1 es el 0.1001001001001001% del número 999

66 es el 100.0% del número 66

In [3]:
def imprimir(num_1,num_2):
  resultado = (num_1 * 100 / num_2)
  return (print(f"{num_1} es el {resultado}% del numero {num_2}\n"))

imprimir(34,100)
imprimir(57,127)
imprimir(12,228)
imprimir(87,90)
imprimir(1,999)
imprimir(66,66)

34 es el 34.0% del numero 100

57 es el 44.881889763779526% del numero 127

12 es el 5.2631578947368425% del numero 228

87 es el 96.66666666666667% del numero 90

1 es el 0.1001001001001001% del numero 999

66 es el 100.0% del numero 66